@media only screen and (min-width: 414px)
{
    html {
        font-size: 17.664px !important;
    }
}
html {
    font-size: 16px !important;
}
html {
    font-family: -apple-system-font, Helvetica Neue, sans-serif;
    font-size: 16px!important;
}
.heartUp {
    -webkit-animation: heart 0.1s linear;
    -moz-animation: heart 0.1s linear;
    -ms-animation: heart 0.1s linear;
    -o-animation: heart 0.1s linear;
    animation: heart 0.1s linear;
}

@-webkit-keyframes heart {
    from {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
    }
}
@keyframes heart {
    from {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
    }
}

.happy_txt_color {
    color: #ff6f02;
}
.unhappy_txt_color {
    color: #1AAD19;
}
